.page-container{
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  height: 100vh;
  align-items: center;
}

.form-image{
  width: 50%;  
  padding: auto 0px;
}

.email-sent-page-container{
  text-align: center;
  width: 50%;
  margin: 40px auto;
}
.email-sent-image{
  margin: 30px;
  width: 60% !important;
}