.page-container{
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  height: 100vh;
  align-items: center;
}

.form-image{
  width: 50%;  
  border: 1px solid red;
  padding: auto 0px;
}