.page-container {
  display: flex;
}

.form-image {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-sent-page-container {
  text-align: center;
  width: 50%;
  margin: 40px auto;
}

.email-sent-image {
  margin: 30px;
  width: 60% !important;
}