.hero-container{
  /* border: 1px solid blue; */
  width: 80%;
  margin: 0px auto;
  padding: 70px 0px;
  background-color: #ebebeb;
  border-radius: 10px;

}

.hero-text{
  padding-top: 2%;
  width: 50%;
  padding-left: 40px;
}
.hero-text h1.ant-typography.css-dev-only-do-not-override-ni1kz0{
  width: 70%;
}
.hero-text .secondary-text{
  width: 70%;
  display: block;
}

.hero-image{
  width:  50%;
  margin: 0px auto;
  justify-content: center;
}
.navbar-container{
  position: sticky;
  padding: 20px 100px;
  display: flex;
  background-color: #f3f3f3;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(138, 138, 138, 0.2) 0px 2px 8px 0px;
}
.nav-bar{
  display: flex;
  gap: 10px;
  & a{
    color: #000e3d;
    font-weight: 600;
  }
}

.why-section-container{
  width: 80%;
  margin: 0 auto;
  padding: 40px 0px;
}

.statistics-container{
  width: 80%;
  margin: 0 auto;
  padding: 40px 0px;
  background-color: #ebebeb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
    align-items: center;
}